@font-face {
    font-family: "sacramento";
    src: url(./font/Sacramento.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(./font/Montserrat.ttf);
}

@font-face {
    font-family: "pinyon";
    src: url(./font/Pinyon.ttf);
}

@font-face {
    font-family: "oswald";
    src: url(./font/Oswald.ttf);
}

@font-face {
    font-family: "yeseva";
    src: url(./font/Yeseva.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: aliceblue ;
    font-family: yeseva;
}

header {
    display: flex;
    flex-direction: row;
}

.logoHeader {
    width: 50%;
    display: flex;
    justify-content: center;
}

.imgLogo {
    width: 70%;
}

.containerPromo {
    background-color: rgba( 30, 144, 255, 0.45 );
    clear: both;
    margin: 15px 1%;
    border-radius: 5px;
    border: 3px inset rgba( 30, 144, 255, 0.45 );
}

.containerPromo h2 {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    text-align: center;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 403){
    .buttonGroup {
        justify-content: flex-start;
    }
}

.buttonGroup a.button {
    width: 20%;
    flex: 1 1 150px;
}

.containerPromo h5 {
    margin: 0;
    padding: 0;
}


@media (min-width: 640px){
    .buttonGroup a.button p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .buttonGroup a.button p {
        font-size: 1.1rem;
    }
    .title h1 {
        font-size: 1.2rem;
    }
    .conteudo h1 {
        font-size: 1.2rem;
    }
    .buttonGroup a.button {
        width: 40%;
    }
}

@media (max-width: 270px) {
    .buttonGroup a.button p {
        font-size: 0.8rem;
    }
}
@media (max-width: 200px) {
    .buttonGroup a.button p {
        font-size: 0.5rem;
    }
}

a.button, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5.5px outset royalblue;
    border-radius: 10px;
    padding: 0px 2px;
    background-color: royalblue;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    font-family: oswald;
    height: 90px;
    margin: 2px 5px;
}

.button p {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: dodgerblue;
    font-family: yeseva;
    text-shadow: 1.25px 1.25px 1.25px black;
}

.conteudo {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

h4 {
    margin: 0;
    padding: 0;
}

a.voltar {
    background-color: royalblue;
    font-family: yeseva;
    color: whitesmoke;
    border-radius: 90px;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
}